[user]
  name = Jacob Rodal
  email = github@jrodal.com
[diff]
  colorMoved = default
  external = difft
[mergetool]
  prompt = false
[push]
	autoSetupRemote = true
[alias]
	smartlog = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'
	sl = !git smartlog
	# Difftastic aliases
	dlog = -c diff.external=difft log --ext-diff
	dshow = -c diff.external=difft show --ext-diff
	ddiff = -c diff.external=difft diff
	# Shorter difftastic aliases
	dl = -c diff.external=difft log -p --ext-diff
	ds = -c diff.external=difft show --ext-diff
	dft = -c diff.external=difft diff
