[user]
  name = Jacob Rodal
  email = github@jrodal.com
[diff]
  colorMoved = default
  external = difft
  tool = difftastic
[difftool "difftastic"]
  # See `man git-difftool` for a description of MERGED, LOCAL and REMOTE.
  cmd = difft "$MERGED" "$LOCAL" "abcdef1" "100644" "$REMOTE" "abcdef2" "100644"
[difftool]
  # Run the difftool immediately, don't ask 'are you sure' each time.
  prompt = false
[pager]
  # Use a pager if the difftool output is larger than one screenful,
  # consistent with the behaviour of `git diff`.
  difftool = true
[mergetool]
  prompt = false
[push]
	autoSetupRemote = true
[alias]
	smartlog = log --graph --pretty=format:'commit: %C(bold red)%h%Creset %C(red)<%H>%Creset %C(bold magenta)%d %Creset%ndate: %C(bold yellow)%cd %Creset%C(yellow)%cr%Creset%nauthor: %C(bold blue)%an%Creset %C(blue)<%ae>%Creset%n%C(cyan)%s%n%Creset'
	sl = !git smartlog
	# Difftastic aliases
	dlog = -c diff.external=difft log --ext-diff
	dshow = -c diff.external=difft show --ext-diff
	ddiff = -c diff.external=difft diff
	# Shorter difftastic aliases
	dl = -c diff.external=difft log -p --ext-diff
	ds = -c diff.external=difft show --ext-diff
	dft = -c diff.external=difft diff
